body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#game-area {
    text-align: center;
}

#score {
    font-size: 24px;
    margin-bottom: 10px;
}

#gameCanvas {
    border: 1px solid #000;
    background-color: #ddd;
}
